{% extends 'extraeye/base.html' %}

{% block content %}

<body>
 <div class="container">

     <div class="row">
         <div class="col-md-6">
             <a href="{%url 'tasks'%}">
                 <h1 class="text-center">Tasks</h1>
             </a>
         </div>

         <div class="col-md-6">
             <h1 class="text-center">Reminders</h1>

         </div>
     </div>

     <div class="row">
         <div class="col-md-6">
             <div class="text-center">
             <h1 >Schedulers</h1>
             </div>
         </div>
         <div class="col-md-6">
             <div class="text-center">
             <h1 >Groups</h1>
             </div>
         </div>

     </div>
 </div>
</body>
{% endblock %}