{% extends 'extraeye/base.html' %}

{% block content %}
    <!--{%for task in tasks%}-->
    <!--<h3>-->
        <!--<a href="{% url 'task_info' pk=task.pk %}">{{task.description}}</a>-->
    <!--</h3>-->
    <!--{% endfor %}-->



{% endblock %}