{% extends 'extraeye/base.html' %}

{% block content %}
<body>
    <!-- On rows -->
    <table class="table table-condensed">



        <!-- On cells (`td` or `th`) -->

        <tr>

            <td class="alert alert-danger">Hello</td>
            <td class="success">Hello</td>
            <td class="warning">Hello</td>
            <td class="danger">Hello</td>
            <td class="info">Hello</td>
        </tr>

        <tr>
            <td class="active">World</td>
            <td class="success">World</td>
            <td class="warning">World</td>
            <td class="danger">World</td>
            <td class="info">World</td>
        </tr>
        <tr>
            <td class="active">Hello</td>
            <td class="success">Hello</td>
            <td class="warning">Hello</td>
            <td class="danger">Hello</td>
            <td class="info">Hello</td>
        </tr>
    </table>
</body>
{% endblock %}