{% extends 'extraeye/base.html'%}

{% block content %}
<h2>{{task.description}}</h2>
<h2>{{task.user_login|linebreaksbr}}</h2>
<h2>{{task.creation_datetime}}</h2>
{% if user.is_authenticated %}
<a class="btn btn-default" href="{% url 'edit_task' pk=task.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
{% endif %}
{% endblock %}