{% extends 'extraeye/base.html' %}

{% block content %}


<body class="text-center">
  <form method="post" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal text-center">Sign up</h1>
      {% csrf_token %}
      {% for field in form %}

            <label>{{ field.label_tag }}</label>
            <input name="{{ field.html_name }}" value="{{ field.value|default_if_none:'' }}" type="text"
                   class="form-control">

            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}


      {% endfor %}
      <button class="btn btn-lg btn-primary btn-block"  type="submit">Sign up</button>
  </form>
</body>

{% endblock %}