{% extends "extraeye/base.html" %}

{% block content %}

    <div class="content inline">

    </div>

    <div class="mx-auto" style="max-width: 300px;">

        <br>
        <br>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'signup'%}">Sign up</a>
            </li>
        </ul>

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <h2>Log in</h2>

            <label>Username</label>
            <div class="form-group">

                <input name="login" type="text" class="form-control"
                       aria-describedby="usernameHelp" placeholder="Enter username">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 16px">Submit</button>
            </div>

        </form>
    </div>
    {% if login_error %}
    <h6 class="alert alert-danger mx-auto" style="text-align: center; max-width: 600px; margin-top: 5px">
        {{login_error}}</h6>
    {% endif %}


{% endblock %}
