{% extends 'extraeye/base.html' %}

{% block content %}


<div class="sidebar inline">
    <div class="mx-auto" style="max-width: 300px">

        <br>
        <br>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{%url 'login'%}">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active">Sign up</a>
            </li>
        </ul>

        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}


            <div class="form-group">
                <h2>Sign up</h2>
                <label>{{ form.username.label_tag }}</label>
                <input type="text" class="form-control"
                       name="{{ form.username.html_name }}" value="{{ form.username.value|default_if_none:'' }}"
                       aria-describedby="usernameHelp" placeholder="Enter username">
            </div>

            <div class="form-group">
                <label>{{ form.password1.label_tag }}</label>
                <input type="password" name="{{ form.password1.html_name }}" class="form-control"
                       value="{{form.password1.value|default_if_none:''}}" placeholder="Password">
            </div>

            <div class="form-group">
                <label>{{ form.password2.label_tag }}</label>
                <input type="password" name="{{ form.password2.html_name }}" class="form-control"
                       value="{{form.password2.value|default_if_none:''}}" placeholder="Repeat password">
            </div>


            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

            {% if form.errors %}
                <h6  class="alert alert-danger mx-auto" style="text-align: center; margin-top: 5px; max-width: 600px">
                    {{ form.errors }}
                </h6>
            {% endif %}

        </form>
    </div>

</div>

{% endblock %}
