.area{
    min-width: 40%;
    min-height: 40%;
    text-align: center;
    padding: 5%;
    border: 2px dashed #cccccc;
}
.margin_auto{
    margin: auto;
    text-align: center;
}

.inline {
    display: inline-block;
}

.block {
    width: 49%;
}

.area h1{
    font-family: 'Lobster';
}